{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Loans List{% endblock %}

{% block content %}
    <div>
        <form method="post" class="filters">
            {{ form_errors(filtersForm) }}
            {{ form_rest(filtersForm) }}

            <input type="submit" />
        </form>
    </div>

    {% include('SupinfoWebBundle:Client/Loan:table.html.twig') with {'loans': entities} %}

    {% include 'SupinfoWebBundle:Paginator:pages_list.html.twig' %}
{% endblock %}