<div id="menu">
    <h1><a href="{{ path('homepage') }}">Supinfo backoffice</a></h1>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('Place_admin_list') }}">Places</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('Article_admin_list') }}">Articles</a></li>
    </ul>

</div>