{% extends 'SupinfoWebBundle:Admin:edit.html.twig' %}

{% block form_fields %}
    {% for key, formChild in form.children %}
        {% if key is not sameas('fieldValues') %}
            {{ form_row (formChild) }}
        {% endif %}
    {% endfor %}

    {% if form.children['fieldValues'] %}
        <div>Fields:</div>

        {% for formChild in form.children['fieldValues'] %}
            {% set fieldValue = formChild.all['value'] %}
            {% set fieldValueForm = formChild.children['value'] %}

            {{ form_row(fieldValueForm, {'label': fieldValue.subFamilyField.name}) }}
        {% endfor %}
    {% endif %}
{% endblock %}