{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content %}
    {% include('SupinfoWebBundle:Client/Article:table.html.twig') with {'articles': entities} %}

    {% include 'SupinfoWebBundle:Paginator:pages_list.html.twig' %}

    <div>
        <a href="{{ path('client_Article_csv') }}">Export Excel (CSV)</a>
    </div>
{% endblock %}