{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Homepage{% endblock %}

{% block content %}
    <p>Welcome.</p>

    {% if is_granted('ROLE_USER') %}
        <ul>
            <li><a href="{{ path('client_Loan_list') }}">Loan list.</a></li>

            {% if is_granted('ROLE_CLIENT') %}
                <li><a href="{{ path('client_Loan_new') }}">New loan.</a></li>
            {% endif %}
        </ul>

        <div>
            <h3>5 next loans:</h3>

            {% include('SupinfoWebBundle:Client/Loan:table.html.twig') with {'loans': nextLoans} %}
        </div>

        <div>
            <h3>Current loans:</h3>

            {% include('SupinfoWebBundle:Client/Loan:table.html.twig') with {'loans': currentLoans} %}
        </div>
    {% endif %}
{% endblock %}