{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Homepage{% endblock %}

{% block content %}
    <p>Welcome.</p>

    {% if is_granted('ROLE_CLIENT') %}
        <ul>
            <li><a href="{{ path('client_Loan_list') }}">Loan list.</a></li>
            <li><a href="{{ path('client_Loan_new') }}">New loan.</a></li>
        </ul>

        <div>
            <h3>5 next loans:</h3>

            <ul>
                {% for loan in nextLoans %}
                    {% include 'SupinfoWebBundle:Client:loan_list_li.html.twig' with {'loan': loan} %}
                {% else %}
                    <li>No loan.</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Current loans:</h3>

            <ul>
                {% for loan in currentLoans %}
                    {% include 'SupinfoWebBundle:Client:loan_list_li.html.twig' with {'loan': loan} %}
                {% else %}
                    <li>No loan.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}