{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content %}
    <div class="admin">
        <p>
            <a href="{{ path(routes.new) }}">New</a>
        </p>


        {% block admin %}
            
        {% endblock %}
    </div>
{% endblock %}