{% extends 'SupinfoWebBundle:Admin:admin.html.twig' %}

{% block content_title %}{{ parent() }} Edit{% endblock %}

{% block admin %}
    {% block form %}
        <form class="form" action="{% block form_action_url '' %}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {% block form_fields %}
                {{ form_rest(form) }}
            {% endblock %}

            <input type="submit" value="{% block form_submit_title 'Save' %}" />
        </form>
    {% endblock %}
{% endblock %}