{% extends 'SupinfoWebBundle:Admin:admin.html.twig' %}

{% block content_title %}{{ parent() }} List{% endblock %}

{% block admin %}
    {% block list %}
        <table class="list">
            <tr>
                <th>Name</th>
                {% block list_th %}

                {% endblock %}
                <th>Actions</th>
            </tr>

            {% for entity in entities %}
                <tr>
                    <td>{{ entity }}</td>
                    {% block list_td %}

                    {% endblock %}
                    <td>
                        {% block list_td_actions %}
                            <a href="{{ path(routes.edit, { 'id': entity.id }) }}">Edit</a>
                            <a class="delete_confirm" href="{{ path(routes.delete, { 'id': entity.id }) }}">Delete</a>
                        {% endblock %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No result found.</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}

    {% include 'SupinfoWebBundle:Paginator:pages_list.html.twig' with { 'paginator': paginator } %}
{% endblock %}