/*  CSS RESET
****************/

* {
    margin:  0;
    padding:  0;
}

.clear {
    clear: both;
}


/*  MAIN STYLES
****************/

body {
    font-family: "Lucida Grande", Helvetica, Arial;
    background-color: #022330;

    color: #333333;

    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-bottom: 15px;
}

a, a:hover, a:visited {
    color: #0485b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 960px;
    min-height: 1000px;

    margin:  auto;
}

#content {
    background-color: #adccd9;
}

#contentTitle {
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#flash-notice {
    color: green;
    font-weight: bold;
    background-color: #e6f3f8;
    padding: 10px 20px;
    margin: 10px 20px;
    border: 1px solid #c3e2ee;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* PAGINATOR
************/

.paginator-pages-list {
    list-style-type: none;
    display: inline-block;

    margin: 10px 7px;
}

.paginator-pages-list li {
    display: inline-block;
}


/* MENU
*******/

#search {
    float: right;
}

input {
    padding: 5px;
    font-size: 1em;

    color: #222;
}

textarea,
input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #a2a2a2;

    color: #222;
}

input:focus {
    border: 1px solid #333333;
}

input[type="submit"] {
    background-color: #f5f5f5;
    color: #0485b4;
    padding:  5px 10px;
    border: 1px solid #333333;
    font-weight: bold;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #333333;
    padding:  4px 9px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#menu > div:first-child {
    margin-top: 20px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    border-right: 2px solid #647075;
    padding: 0px 10px;
}

#menu li:last-child {
    border-right: none;
}

#menu {
    
}

#menu > div {
    background-color: #adccd9;
    margin-bottom: 10px;
    padding: 10px;
}

#menu > div,
#content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content {
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#content > div {
    margin-bottom: 20px;
}


/*
*****/

table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

table table {
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;

    padding: 5px 3px;
}

td {
    font-size: 0.9em;
}

th {
    border-bottom: 2px solid black;
    padding: 10px 5px;
    font-size: 1.1em;
}

table.key_val tr > td {
    width: 30%;

    border-bottom: 2px solid black;
    padding:  8px 3px;

    font-size: 1.1em;
}

table.key_val tr > td + td {
    width: 70%;
}

table.key_val tr > td:first-child {
    font-weight: bold;
}

/*
*****/

form.form {
    width: 95%;
    margin: auto;
    
    margin-bottom: 30px;
}

.form .form_row {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form .form_row .form_row {
    padding-left: 20px;
}

form.form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form textarea {
    min-width: 400px;
    min-height: 100px;
}

.redB {
    color: red;
    font-weight: bold;
}

.filters label {
    margin-right: 20px;
}

.filters label[for="loanlistfilters_filters"] {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.filters .form_row {
    margin-bottom: 10px;
}