/*  CSS RESET
****************/

* {
    margin:  0;
    padding:  0;
}



/*  MAIN STYLES
****************/

body {
    font-family: "Lucida Grande", Helvetica, Arial;
}

#container {
    width: 960px;
    min-height: 1000px;

    margin:  auto;

    background-color: #ddd;
}


/* PAGINATOR
************/

.paginator-pages-list {
    list-style-type: none;
    display: inline-block;
}

.paginator-pages-list li {
    display: inline-block;
}


/* MENU
*******/

#search {
    float: right;
}

#menu div:first-child {
    margin-bottom: 20px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    border-right: 2px solid black;
    padding: 0px 10px;
}

#menu li:last-child {
    border-right: none;
}

#menu {
    border: 2px solid black;
}


/*
*****/

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: center;
}