{% extends 'SupinfoWebBundle::layout.html.twig' %}

{% block content_title %}Search{% endblock %}

{% block content %}
    <div>
        {% include 'SupinfoWebBundle:Client/Search:form.html.twig' %}
    </div>

    <div>
        <table>
            <tr>
                <th>Type</th>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>

            {% for type, res in results %}
                {% for result in res %}
                    {% if type is sameas('User') %}
                        {% set result_url = path(paths[type], {'id': result.id}) %}
                        {% set result_label = result.username %}
                    {% elseif type is sameas('Loan') %}
                        {% set result_url = path(paths[type], {'id': result.id}) %}
                        {% set result_label = result.reason %}
                    {% elseif type is sameas('Article') %}
                        {% set result_url = path(paths[type], {'id': result.id}) %}
                        {% set result_label = result.description %}
                    {% endif %}

                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ result.displayId is defined ? result.displayId : result.id }}</td>
                        <td>{{ result_label }}</td>
                        <td><a href="{{ result_url }}">View</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="100">No result</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}